<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:p="http://www.springframework.org/schema/p"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <http pattern="/robots.txt" security="none"/>
    <http pattern="/sitemap.xml" security="none"/>
    <http pattern="/favicon.ico" security="none"/>
    <http pattern="/yandex_6ed5d0cf5e2ee44e.html" security="none"/>
    <http pattern="/google5bad3e18ec670f81.html" security="none"/>

    <beans:bean class="org.springframework.security.crypto.factory.PasswordEncoderFactories" id="passwordEncoder" factory-method="createDelegatingPasswordEncoder"/>

    <http>
        <intercept-url pattern="/login" access="permitAll()"/>

        <intercept-url pattern="/customer/**" access="hasRole('ROLE_CUSTOMER')"/>
        <intercept-url pattern="/seller/**" access="hasRole('ROLE_SELLER')"/>
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/profile/**" access="isAuthenticated()"/>

        <form-login login-page="/login" default-target-url="/"
                    authentication-failure-url="/login?error=true"
                    login-processing-url="/spring_security_check"/>
        <logout logout-success-url="/"/>
        <remember-me
                token-repository-ref="tokenRepository"
                remember-me-parameter="remember-me"
                token-validity-seconds="1209600"/>

        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="passwordEncoder"/>

        </authentication-provider>
    </authentication-manager>

    <beans:bean id="tokenRepository"
        class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl"
        p:dataSource-ref="dataSource"/>

</beans:beans>